.meraki-checkbox{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  &.mt-16{
    margin-top: 16px;
  }
  &.mt-24{
    margin-top: 24px;
  }
  &.mt-32{
    margin-top: 32px;
  }
  &.mt-40{
    margin-top: 40px;
  }
  &.mb-16{
    margin-bottom: 16px;
  }
  &.mb-24{
    margin-bottom: 24px;
  }
  &.mb-32{
    margin-bottom: 32px;
  }
  &.mb-40{
    margin-bottom: 40px;
  }
  &__text{
    width: calc(100% - 32px);
    p{
      margin: 0;
      padding: 0;
      font-family: var(--rubik);
      font-size: 14px;
      font-weight: 400;
      color: #00346A;
      strong{
      font-family: var(--rubik);
      font-weight: 600;
    }
    }
  }
  &__check{
    margin-right: 8px;
    input{
      display: none;
    }
    label{
      cursor: pointer;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border:1px solid var(--red);
      &.checked{
        background: var(--red);
      }
    }
  }
}