.meraki-select{
  &.mt-16{
    margin-top: 16px;
  }
  &.mt-24{
    margin-top: 24px;
  }
  &.mt-32{
    margin-top: 32px;
  }
  &.mt-40{
    margin-top: 40px;
  }
  &.mb-16{
    margin-bottom: 16px;
  }
  &.mb-24{
    margin-bottom: 24px;
  }
  &.mb-32{
    margin-bottom: 32px;
  }
  &.mb-40{
    margin-bottom: 40px;
  }
  .meraki-title{
    h3{
      font-size: 16px!important;
    }
  }
  label{
    font-family: var(--rubik);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px;
    display: block;
    color: var(--blueAlt);
    text-rendering: geometricPrecision;
  }
  &__container{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    button{
      display: flex;
      align-items: center;
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      background: white;
      text-align: left;
      outline: 0px;
      border: 0px;
      font-size: 16px;
      font-family: var(--rubik);
      letter-spacing: 0.2px;
      padding: 12px;
      color: var(--blueAlt);
      border-bottom: 1px solid #E0E0E0;
      &:last-child{
        border-bottom: 0px;
      }
      &:active{
        background: #F0F0F0;
      }
    }
  }
  &__content{
    position: relative;
    background-color: white;
    border-radius: 12px;
    min-width: 296px;
    padding:10px;
    font-size: 14px;
    color: var(--blueAlt);
    width: 100%;
    outline: 0px;
    appearance: none;
    -webkit-appearance: none;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label{
      position: absolute;
      top: 8px;
      right: 16px;
      z-index: 2;
    }
    
    &.disabled{
   

  
    
      background: var(--disabledBg);
      color: var(--disabledText);
      font-weight: 400;
      &::placeholder{
        color: var(--disabledText);
      }
    
  
}
&.error{
 
    border: 1px solid red;
  
}
    
   
  }
}