.meraki-title {
  h1 {
    font-size: 22px;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

  p {
    font-size: 1rem;
    color: #666;
  }

  h2 {
    font-size: 1.5rem;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

  h3 {
    font-size: 1.25rem;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

  h4 {
    font-size: 1rem;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

  h5 {
    font-size: 0.875rem;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

  h6 {
    font-size: 0.75rem;
    color: var(--blue);
    font-family: var(--rubik);
    font-weight: 600;
    text-rendering: geometricPrecision;
  }

}